<div class="col-md-4  col-sm-6 col-xs-12 banner-block-1">
  <a href="{{ HACKED_PRESS_LINK }}" target="_blank" class="banner-link">
    <div class="banner-container">
      <span class="banner-logo">Hacked Press</span>
      <span class="banner-title banner-title-1">Latest</span>
      <span class="banner-title banner-title-2">Cyber</span>
      <span class="banner-title banner-title-3">Security</span>
      <span class="banner-line"></span>
      <span class="banner-text">
        Infosec and<br>
        Hacking News
      </span>
      <div class="banner-btn">
        Know more
      </div>
      <div class="banner-bg"></div>
      <div class="banner-img"></div>
    </div>
  </a>
</div>
{% comment %}
<div class="col-md-offset-1 col-md-4  col-sm-6 col-xs-12 banner-block-2">
  <a href="{{ ZERO_DOWNTIME_LINK }}" target="_blank" class="banner-link">
    <div class="banner-container pull-right">
      <span class="banner-2-logo">Zero Downtime</span>
      <span class="banner-2-title banner-2-title-first">Website</span>
      <span class="banner-2-title banner-2-title-second">Monitoring</span>
      <span class="banner-2-text">
        Check the availability <br>
        of your site
      </span>
      <div class="banner-2-btn">
        Check
      </div>
      <div class="banner-2-bg"></div>
      <div class="banner-2-img"></div>
    </div>
  </a>
</div>
{% endcomment %}