body {
  height: 100vh;
  overflow-x: hidden;
}

.main{
  min-height: calc(100% - 145px);
}

.site-title{
  font-size: 25px;
  margin-bottom: 0;
}

.widget-header-title{
  font-size: 15px;
  margin-top: 10px;
  margin-left: 10px;
}

.menu-titles{
  font-size: 13px;
  margin-bottom: 0;
}

li.field-error {
  list-style-type: none !important;
  margin-left: -40px;
}

i.icon-2 {
  font-size: 2em;
}

.mx-result-block , .ns-result-block{
  border: 1px solid #EEE;
  margin-bottom: 25px;
}

.ns-result-block {
  border-top: 2px solid #ff9900;
  vertical-align: middle;
}

.ns-result-text{
  margin: 0;
  margin-top: 5px;
}

div.panel.col-md-12 {
  padding: 0;
}

.m-r {
  margin-right: 10px;
}

div#map1 {
  margin-bottom: 30px;
}

.navbar-header {
  width: 100%;
}

.p-t-15 {
  padding-top: 15px;
}
.subnav-toggle {
  font-size: 25px;
  text-align: center;
  color: #ff9900;
  text-decoration: none !important;
  padding: 15px;
}

@media screen and (max-width: 767px) {
  .banner-container {
    float: none !important;
    margin: 10px auto;
    margin-bottom: 20px;
  }
}
