{% extends 'index.html' %}

{% block content %}
<div class="widget stacked">
  <div class="widget-header">
    <h2 class="widget-header-title">DNSsec Tool</h2>
  </div>
  <div class="widget-content">
    <form name="getDnsSecform" autocomplete="off" method="post" action="{% url 'dns-sec' %}">
      {% csrf_token %}
      <div class="form-group col-xs-12 col-sm-12 col-md-10 col-lg-10">
        <div class="input-group {% if form.domain.errors %}has-error{% endif %}"><span class="input-group-addon"><i class="icon-globe" aria-hidden="true" id="input_icon"></i></span>
          <input id="id_domain" autofocus type="url" name="domain" value="{{ form.domain.value|default:'' }}" class="form-control" />
        </div>
        {% if form.domain.errors %}
        <ol>
          {% for error in form.domain.errors %}
          <li class="field-error"><strong class="text-danger">{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
        {% endif %}
        <p class="help-block">
          {{ form.domain.help_text }}
        </p>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-7 col-lg-7">
        <button type="submit" class="btn btn-outline btn-success">Search</button>
        <button type="reset" class="btn btn-outline btn-default" id="reset_button" data-input-id="id_domain">Reset</button>
      </div>
    </form>

    {% if result %}
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <div class="table-responsive">
        <table cellpadding="1" cellspacing="1" class="table">
          <thead>
            <tr>
              <th>Analyzing DNSSEC problems</th>
            </tr>
          </thead>
          <tbody>
          <tr>
          <td>
          {% if status %}
              <i class="icon-ok-sign text-success" aria-hidden="true"></i>
          {% else %}
              <i class="icon-remove-sign text-danger" aria-hidden="true"></i>
          {% endif %}
              {{result}}
              </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}

{% block extra_js %}
    <script type="text/javascript">
       $('#reset_button').click(function () {
           $('#' + $(this).data('input-id')).val('');
           return false;
       });
    </script>
{% endblock extra_js %}
