{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
<div class="widget stacked">
  <div class="widget-header">
    <h3>Look up IP address</h3>
  </div>
  <div class="widget-content">
    <form name="LookUpIpForm" autocomplete="off" method="post" action="/ip-lookup/">
      {% csrf_token %}
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="input-group {% if form.ip.errors %}has-error{% endif %}"><span class="input-group-addon"><i class="icon-globe" aria-hidden="true" id="input_icon"></i></span>
          <input id="id_ip" autofocus type="text" name="ip" value="{{ form.ip.value|default:'' }}" class="form-control" />
        </div>
        {% if form.ip.errors %}
        <ol>
          {% for error in form.ip.errors %}
          <li class="field-error"><strong class="text-danger">{{ error|escape }}</strong></li>
          {% endfor %}
        </ol>
        {% endif %}
        <p class="help-block">
          {{ form.ip.help_text }}
        </p>
      </div>
      <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button type="submit" class="btn btn-outline btn-success">Search</button>
        <button type="reset" class="btn btn-outline btn-default" id="reset_button" data-input-id="id_ip">Reset</button>
      </div>
    </form>

    {% if result %}
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="panel-body ns-result-block">
        <div class="col-xs-9">
          <h5 class="ns-result-text"><strong>Country</strong></h5>
        </div>
        <div class="col-xs-3 ">
          <i class="icon-compass text-danger icon-2 pull-right"></i>
        </div>
        <div class="col-xs-9">
          <span class="text-muted break-all">{{ result.country|default:'Unknown' }}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="panel-body ns-result-block">
        <div class="col-xs-9">
          <h5 class="ns-result-text"><strong>City</strong></h5>
        </div>
        <div class="col-xs-3 ">
          <i class="icon-compass text-danger icon-2 pull-right"></i>
        </div>
        <div class="col-xs-9">
          <span class="text-muted break-all">{{ result.city|default:'Unknown' }}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
      <div class="panel-body ns-result-block">
        <div class="col-xs-9">
          <h5 class="ns-result-text"><strong>Lat - Long</strong></h5>
        </div>
        <div class="col-xs-3 ">
          <i class="icon-compass text-danger icon-2 pull-right"></i>
        </div>
        <div class="col-xs-9">
          <span class="text-muted break-all">{{ result.lat }} {{ result.long }}</span>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="map1" style="height: 300px; width: 100%; background: grey;"></div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div class="table-responsive">
        <table cellpadding="1" cellspacing="1" class="table">
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong class="text-primary">
                  <i class="icon-globe m-r"></i>
                   Country
                </strong>
              </td>
              <td>{{ result.country|default:'Unknown' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong class="text-primary">
                  <i class="icon-globe m-r"></i>
                   City
                 </strong>
              </td>
              <td>{{ result.city|default:'Unknown' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong class="text-primary nowrap">
                  <i class="icon-globe m-r"></i>
                   Region
                </strong>
              </td>
              <td>{{ result.region|default:'Unknown' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong class="text-primary">
                  <i class="icon-globe m-r"></i>
                   Latitude
                </strong>
              </td>
              <td>{{ result.lat|default:'Unknown' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong class="text-primary">
                  <i class="icon-globe m-r"></i>
                   Longitude
                </strong>
              </td>
              <td>{{ result.long|default:'Unknown' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong class="text-primary">
                  <i class="icon-globe m-r"></i>
                   Provider
                </strong>
              </td>
              <td>{{ result.provider|default:'Unknown' }}</td>
              <td></td>
            </tr>
            <tr>
              <td>
                <strong class="text-primary">
                  <i class="icon-globe m-r"></i>
                   Provider info
                </strong>
              </td>
              <td>{{ result.provider_info|default:'Unknown' }}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    {% endif %}
  </div>
</div>
{% endblock %}
{% block extra_js %}
  {% if result%}
<script>
  var LAT = '{{ result.lat }}';
  var LONG = '{{ result.long }}';
</script>
<script type="text/javascript" src="{% static 'js/ip_lookup/map.js'%}"></script>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_MAPS_KEY}}&callback=initMap">
  </script>
  {% endif %}
{% endblock extra_js %}
