<section id="accordions">
  <div class="panel-group accordion">
    <div class="panel panel-default col-md-12">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseOne">
              Gmail
            </a>
          </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse">
        <div class="panel-body">
          <p>1. Open the suspect email you wish to test
            <br> 2. Click on the down arrow next to Reply
            <br> 3. Choose 'Show Original' from the drop down menu
            <br> 4. Highlight and copy the Full Headers only, not the message text
            <br> 5. Go to Email Header Analyzer
            <br> 6. Paste the Full Headers into the header field
            <br> 7. Hit Analyze</p>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-md-12">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseTwo">
              Yahoo Mail
            </a>
          </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          In order to guarantee that the Full Headers will stay in the suspect email when you forward it to us you will have to copy and paste them into the top of the message text, even though they will appear as part of the email. Unfortunately, Yahoo is not
          stable right now and the Full Headers you see as part of your email may disappear in transit.
          <br>
          <br> 1. Open the suspect email and scroll down to the bottom of the message text. Click on Full Headers.
          <br> 2. This is what will appear at the top of the email:
          <br> 3. Highlight the Full Headers, then right click and select Copy in the drop down menu
          <br> 4. Go to Email Header Analyzer
          <br> 5. Paste the Full Headers into the header field
          <br> 6. Hit Analyze
          <br>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-md-12">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseThree">
              Hotmail
            </a>
          </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          HOTMAIL USERS: The Full Headers can only be accessed if you are using the full hotmail version, not basic)
          <br>
          <br> 1. Right click on the suspect email and a drop down menu will appear.
          <br> 2. Choose Source on the drop down menu
          <br> 3. Copy highlight and copy the Full Headers
          <br> 4. Go to Email Header Analyzer
          <br> 5. Paste the Full Headers into the header field
          <br> 6. Hit Analyze
          <br>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-md-12">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseFour">
              Outlook
            </a>
          </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          CAUTION: Do not click on View Source in the drop down menu. In Outlook, Source gives you the HTML encoding of the email text message; it does not give you the email headers.
          <br>
          <br> 1. Right click on suspect email, then select ”Message Options”
          <br> 2. Then Right click in the box with the title “Internet headers:” and select “Select All”, then Right click again and select “Copy”
          <br> 3. Go to Email Header Analyzer
          <br> 4. Paste the Full Headers into the header field
          <br> 5. Hit Analyze
          <br>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-md-12">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseFive">
              Outlook Express
            </a>
          </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse">
        <div class="panel-body">
          <br> 1. Right click on the suspect email you wish to report
          <br> 2. From the menu above choose 'Properties'; this will launch a dialog box.
          <br> 3. When the dialog box first launches it will be on the 'General' tab; to view the Full Headers click on the 'Details' tab as shown above in red.
          <br> 4. Highlight and copy the Full Headers
          <br> 5. Go to Email Header Analyzer
          <br> 6. Paste the Full Headers into the header field
          <br> 7. Hit Analyze
          <br>
        </div>
      </div>
    </div>
    <div class="panel panel-default col-md-12">
      <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent=".accordion" href="#collapseSix">
              Thunderbird
            </a>
          </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          1. Double-click on the suspect email in open letter view
          <br> 2. Click on View in the toolbar then on Message Source in the drop down menu
          <br> 3. The full text of the message with Full Headers is displayed
          <br> 4. Highlight and copy the Full Headers. The fastest way to do this is to right click on the Headers then click Select All in the drop down menu. Right click on the Headers again and click Copy in the drop down menu.
          <br> 5. Go to Email Header Analyzer
          <br> 6. Paste the Full Headers into the header field
          <br> 7. Hit Analyze
          <br>
        </div>
      </div>
    </div>
  </div>

</section>
